.campos-formulario{
    display: flex;
    align-items: flex-start;
}

.boton-buscar{
    width: 150px;
}

mat-form-field{
    margin-right: 10 px;
}

.input-filter{
    width: 100%;
    font-size: 16px;
}

table{width: 100%;}